html{
  background:rgb(7, 7, 7);
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

body{
  color:white;
  margin-top: 300 px;
  text-align: center;
  
}


#pass{
  background-color: rgb(7,7,7);
  border: none;
  border-bottom: 2px white solid;
}
